<div class="shadow-background shadow-effect header-layout">
    <div class="nav-background">
        <div>HOME</div>
        <div>DOCS</div>
    </div>
    <div class="header-title">Neumorphism In XAML</div>
</div>

@code {

}
